.career-timeline-card_box {
    padding: var(--spacing-max);
}

.timeline_box {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
}

.timeline_box h1,
.timeline_box h2,
.timeline_box h3,
.timeline_box h4,
.timeline_box h5,
.timeline_box p {
    margin: 0px;
}


.timeline-segment_element {
    display: flex;
}

.timeline-segment-decoration_element {
    margin-right: var(--spacing-big);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timeline-segment-dot_element {
    border-radius: 100px;
    width: 10px;
    height: 10px;
    background-color: rgba(var(--rgb-cover), 0.75);
    margin-bottom: var(--spacing-medium);
    margin-top: var(--spacing-medium);
}

.timeline-segment-line_element {
    width: 2px;
    background-color: rgba(var(--rgb-cover), 0.75);
    min-height: 35px;
    flex-grow: 1;
    margin-bottom: var(--spacing-small);
}

.timeline-segment-content_element {
    display: flex;
    flex-direction: column;
}

.timeline-segment-title_element {
    margin-bottom: var(--spacing-small);
}

.timeline-segment-subtitle_element {
    margin-bottom: var(--spacing-medium);
}

.timeline-segment-description_element {
    margin-bottom: var(--spacing-medium);
}

.timeline-segment-date_element p {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: var(--spacing-max);
}