theme-switch {
  width: 25px;
  height: 25px;
  margin-left: var(--spacing-big);
  border-radius: var(--btn-border-radius);
  padding: var(--spacing-small);
  display: flex;
  justify-content: center;
  align-items: center;
}

theme-switch:hover {
  background-color: rgba(var(--rgb-cover), 0.4);
  cursor: pointer;
}

theme-switch object {
  height: 100%;
}

theme-switch p {
  display: none;
}

@media (max-width: 768px) {
  theme-switch {
    width: unset;
    height: 34px;
    margin-bottom: var(--spacing-max);
    padding-left: var(--spacing-huge);
    padding-right: var(--spacing-big);
  }

  theme-switch p {
    display: block;
    font-size: 18px;
    margin-right: var(--spacing-medium);
  }
}
