.pop-down_box {
  position: relative;
}

.pop-down-hidden-content-container_box {
  position: absolute;
  top: 100%;
  transition: max-height 1s;
  overflow-y: hidden;
  height: fit-content;
  max-height: 0px;
}

.pop-down-hidden-content-container_box.left {
  left: 0px;
}

.pop-down-hidden-content-container_box.right {
  right: 0px;
}

.pop-down_box:hover .pop-down-hidden-content-container_box {
  max-height: 200px;
}

.pop-down-hidden-content_box {
  margin-top: var(--spacing-big);
  height: fit-content;
  padding: var(--spacing-medium);
  display: flex;
  flex-direction: column;
  border-radius: var(--std-border-radius);
  transition: opacity 0.5s, background-color 0.5s;
}

.pop-down_box:hover .pop-down-hidden-content_box {
  background-color: rgba(var(--rgb-cover), 0.1);
}

.pop-down-hidden-content_box > * {
  opacity: 0;
  transition: opacity 0.5s;
}

.pop-down_box:hover .pop-down-hidden-content_box > * {
  opacity: 0.99;
}
