@font-face {
  font-family: "Open Sans";
  src: url("/static/assets/fonts/OpenSans.ttf");
}

@font-face {
  font-family: "Lexend";
  src: url("/static/assets/fonts/Lexend.ttf");
}

* {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  transition: color 0.025s ease-in-out, background-color 0.3s;
}

body {
  background-color: rgb(235 235 235);
  width: 100%;
  margin: unset;
  color: rgb(var(--rgb-text));
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

body.theme-dark,
body.theme-light {
  background-color: rgb(var(--rgb-background));
}

.web-frame-content {
  width: 100%;
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}