:root {
  /* Main Palette */
  --rgb-background: 245, 245, 245;
  --rgb-footer-background: 215, 215, 215;
  --rgb-cover: 75, 75, 75;
  --rgb-active-link: 0, 45, 181;

  /* Typography */
  --rgb-text: 27, 27, 27;

  /* Specialized */
  --rgb-error: 185, 12, 12;
  --rgb-primary-btn: 74, 128, 243;
  --rgb-primary-btn-text: 240, 240, 240;

  /* Non-themed */
  --spacing-small: 4px;
  --spacing-medium: 8px;
  --spacing-big: 12px;
  --spacing-huge: 18px;
  --spacing-max: 24px;

  --std-border-radius: 8px;
  --btn-border-radius: 20px;
}

.theme-dark {
  /* Main Palette */
  --rgb-background: 36, 36, 36;
  --rgb-footer-background: 21, 21, 21;
  --rgb-cover: 150, 150, 150;
  --rgb-active-link: 116, 176, 255;

  /* Typography */
  --rgb-text: 230, 230, 230;

  /* Specialized */
  --rgb-error: 175, 0, 0;
  --rgb-primary-btn: 74, 128, 243;
  --rgb-primary-btn-text: 240, 240, 240;
}
