.loader_box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader_box > .loader-spinner {
  width: 50px;
  height: 50px;
  animation: loader_spin 1.3s 0s infinite;
  animation-timing-function: linear;
}

.theme-dark .loader-spinner {
  filter: invert(1);
}

@keyframes loader_spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
