.error-msg_box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-msg_box > h2 {
  color: rgb(var(--rgb-error));
  margin-bottom: var(--spacing-medium);
}

.error-msg_box > button {
  padding: var(--spacing-medium) var(--spacing-huge);
  border: none;
  border-radius: var(--btn-border-radius);
  background-color: rgb(var(--rgb-primary-btn));
  color: rgb(var(--rgb-primary-btn-text));
}
